# Basic Data Types

# Numbers

In [6]:
x = 5

In [7]:
print(x)

5

In [12]:
type(x)

int

In [13]:
y = 1.5

In [14]:
type(y)

float

Use "j" for imaginary numbers instead of "i"!

In [15]:
type(2j)

complex

In [2]:
1j * 1j

(-1+0j)

# Strings

In [10]:
name = 'Dana'

In [11]:
type(name)

str

In [20]:
'String 1 ' + 'String 2'

'String 1 String 2'

In [21]:
'1' + '1'

'11'

In [3]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

The above produces an error: cannot concenate variables of different classes(types)

# Booleans (TRUE/FALSE values)

In [4]:
1 == 1

True

In [6]:
1 == 2

False