# Functions

In [1]:
def multiplyByThree(val):
    return 3 * val

In [2]:
multiplyByThree(4)

12

In [4]:
def multiply(val1, val2):
    return val1 * val2

In [5]:
multiply(2, 12)

24

In [6]:
def appendFour(myList):
    myList.append(4)

In [8]:
a = [1,2,3]
appendFour(a)
print(a)

[1, 2, 3, 4]

Note: the print function doesn't actually return anything

In [10]:
print(print('Print me!'))

Print me!
None

In Python, "None" is how empty values are presented

In [11]:
type(None)

NoneType

In [12]:
None + 1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'