# Strings

## Slicing

In [2]:
name = 'My name is Dana Turner'

In [3]:
name[0]

'M'

Note: Python starts counting from 0!

In [5]:
name[0:7]

'My name'

In [6]:
name[:7]

'My name'

Note: when using a range, the output doesn't include the end value of the range (e.g. range 1:5 would only include values 1, 2, 3,& 4!).

In [7]:
name[11:]

'Dana Turner'

Note: leaving the start or end values blank in a range will use value 0 / last available values respectively.

In [9]:
myList = [1,2,3,4,5]

In [10]:
myList[2:4]

[3, 4]

In [11]:
len(name)

22

In [12]:
len(myList)

5

## Formatting

In [13]:
'My number is: ' + str(5)

'My number is: 5'

In [15]:
f'My number is: {5}'

'My number is: 5'

In [17]:
f'My number is {5} and twice that is {2*5}'

'My number is 5 and twice that is 10'

In [18]:
import math

In [21]:
f'Pi is: {math.pi:.2f}'

'Pi is: 3.14'

In [22]:
'Pi is: {}'.format(math.pi)

'Pi is: 3.141592653589793'

## Multi-line Strings

In [27]:
myString = '''
Here is a long block of text.
I can add new lines!
The text doesn't stop until it sees \'\'\'.
'''

In [28]:
myString

"\nHere is a long block of text.\nI can add new lines!\nThe text doesn't stop until it sees '''.\n"

In [29]:
print(myString)

Here is a long block of text.
I can add new lines!
The text doesn't stop until it sees '''.