# Sets

In [2]:
mySet = {'a', 'b', 'c'}
mySet

{'a', 'b', 'c'}

In [3]:
mySet = set(['a', 'b', 'c'])
mySet

{'a', 'b', 'c'}

In [4]:
mySet = set(('a', 'b', 'c'))
mySet

{'a', 'b', 'c'}

In [7]:
myList = ['a', 'b', 'b', 'c', 'c']
myList = list(set(myList))
myList

['a', 'b', 'c']

Note: order doesn't matter in sets - they may be different to the inputted lsit. This means we can't extract elements from a set (e.g. set[0]) as there is no index.

In [8]:
num = 1
1[0]

<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\dturner\AppData\Local\Temp\ipykernel_6184\2933403475.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]

TypeError: 'int' object is not subscriptable

This code above produces the same error as trying to extract from a set

In [12]:
mySet.add('d')
mySet

{'a', 'b', 'c', 'd'}

In [14]:
print('a' in mySet)
print('z' in mySet)

True
False

In [15]:
len(mySet)

4

In [16]:
while len(mySet):
    print(mySet.pop())

a
d
b
c

In [18]:
mySet = {'a', 'b', 'c'}
mySet.discard('a')
mySet

{'b', 'c'}

# Tuples

In [21]:
myTuple = ('a', 'b', 'c')

These are ordered and subscriptable, but not editable

In [23]:
myTuple[0]

'a'

Tuples are often returned by python as default

In [26]:
def retVals():
    return 1,2,3

type(retVals())

tuple

In [28]:
myTuple = 1,2,3
type(myTuple)

tuple

In [30]:
a, b, c = retVals()
print(a)
print(b)
print(c)

1
2
3